---
import { formatDate } from '@/utils/data.util';
import Tags from './Tags.astro';
import { AnyEntryMap, CollectionEntry, render } from 'astro:content';
import R2Image from './R2Image.astro';

type Post = CollectionEntry<keyof AnyEntryMap>;

interface Props {
  post: Post;
}

const { post } = Astro.props;
const { remarkPluginFrontmatter } = await render(post);
---

<a href={post.slug}>
  <div
    class="h-full rounded-2xl bg-stone-200/50 from-orange-900 via-amber-700 to-white p-[1px] text-sm shadow-[inset_0_0_0_1px_rgba(255,255,255,0.4)] hover:bg-gradient-to-r dark:bg-gray-900"
  >
    <div
      class="flex h-full w-full
		flex-row
    gap-4
		rounded-[1rem]
		bg-stone-300
		p-4
    text-gray-900
    opacity-90
		dark:bg-stone-800
    dark:text-white"
    >
      <div class="flex flex-auto flex-row">
        <div class="flex flex-1 flex-col justify-between pr-4 text-xs">
          <p>{formatDate(post.data.date.toDateString())}</p>
          <p class="pb-4 text-lg font-bold">{post.data.title}</p>
          <Tags tags={post.data.tags} />
          <p class="line-clamp-6 pt-4">{post.data.excerpt}</p>
          <div class="flex flex-1 flex-col justify-end">
            <p class="pt-4 underline">read more →</p>
          </div>
        </div>
        <div class="flex max-h-full flex-col justify-between text-end text-xs">
          <p>{remarkPluginFrontmatter.minutesRead}</p>
          {
            post.data.cover?.image && (
              <div class="my-auto flex  items-center justify-center pt-2">
                <R2Image
                  key={post.data.cover.image}
                  alt={post.data.cover.alt || post.data.title}
                  class="my-0 h-full w-full rounded-lg object-cover"
                  width={192}
                  height={128}
                  showCaption={false}
                />
              </div>
            )
          }
        </div>
      </div>
    </div>
  </div>
</a>
