---
import { Icon } from '@astrojs/starlight/components';
import { AppConfig } from '@/utils/AppConfig';
import Section from './Section.astro';
import Social from './Social.astro';

const site = Astro.site;

const githubUrl = 'https://github.com/abayomi185';
const instagramUrl = 'https://instagram.com/yomi185';
const linkedInUrl = 'https://linkedin.com/in/yomi-ikuru';
---

<Section>
  <div class="text-sm">
    <p class="py-4">{AppConfig.description}</p>
  </div>
  <div class="flex">
    <Social href={githubUrl}>
      <Icon name="github" class="h-5 w-5" />
    </Social>
    <Social href={instagramUrl}>
      <Icon name="instagram" class="h-5 w-5" />
    </Social>
    <Social href={linkedInUrl}>
      <Icon name="linkedin" class="h-5 w-5" />
    </Social>
    <Social href={`${site}rss.xml`}>
      <Icon name="rss" class="h-5 w-5" />
    </Social>
  </div>
</Section>
