---
import { formatDate } from '@/utils/data.util';
import Section from './Section.astro';
import Tags from './Tags.astro';
import PostImage from './PostImage.astro';

interface Props {
  title: string;
  author: string;
  tags: string[];
  minutesRead: string;
  date: string;
  img: {
    src: string;
    alt: string;
  };
}

const { title, date, tags, minutesRead, img } = Astro.props;

const formattedDate = formatDate(date);
---

<Section>
  <div class="flex flex-col items-center">
    <p class="px-14 pt-6 text-center text-4xl font-bold">{title}</p>
    <div class="pt-4">
      <Tags tags={tags} withHref={true} />
    </div>
    <div class="pt-4 text-sm">
      <span>{formattedDate}</span> -- <span>{minutesRead}</span>
    </div>

    {img?.src ? <PostImage class="my-0 mt-6 rounded-lg" key={img.src} alt={img.alt} /> : null}
  </div>
</Section>
